body{
  font-family: 'Rajdhani', sans-serif;

}

#Contact{
  background-image: linear-gradient(to bottom, #e200ff, #ad2ac6, #7d308f, #502d5a, #272328);
  padding: 100px 15px;
  font-family: 'Rajdhani', sans-serif;
  }
  #Contact .title-selection{
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: #000000;
    text-decoration-color: #000000;
    font-family: 'Press Start 2P', cursive;
  
  }
  #Contact .content-form{
    max-width: 1100px;
    margin: auto;
  }
  #Contact .content-form .fila{
    margin-bottom: 15px;
  }
  #Contact .content-form .mitad{
    display: flex;
    justify-content: space-between;
  }
  #Contact .content-form input,
  #Contact .content-form textarea{
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: 1px solid rgba(7, 7, 7, 0.566);
  }
  #Contact .content-form .mitad input{
    width: 48%;
  }
  #Contact .content-form .input-full{
    width: 100%;
  }
  #Contact .btn-send{
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .5s;
    padding: 10px 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    
  }
  #Contact .btn-send:hover{ 
    background-color: rgb(191, 0, 255);
    color: rgb(10, 10, 10);
    font-family: 'Press Start 2P', cursive;
  }
  footer{
    background-color: rgb(7, 7, 7);
    color: rgb(247, 247, 247);
    text-align: center;
    padding: 30px 0;
    font-family: 'Rajdhani', sans-serif;
  }
  footer a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: inline-block;
    margin: 5px;
    font-size: 26px;
    font-family: 'Rajdhani', sans-serif;
  }
nav.theme-dark.menu-sticky.menu-on-scroll,
nav.theme-dark.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--amber-300) }
nav.theme-dark.menu-sticky.menu-on-scroll,
nav.theme-dark.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--trend-800) }
nav.theme-dark,
nav.theme-dark ul.links-wrapper.active { background-color: var(--white-000) }
nav.theme-dark,
nav.theme-dark ul.links-wrapper.active { background-color: var(--white-000) }
nav.theme-dark,
nav.theme-dark ul.links-wrapper.active { background-color: var(--white-000) }
nav.theme-dark,
nav.theme-dark ul.links-wrapper.active { background-color: var(--black-000) }
nav.theme-dark,
nav.theme-dark ul.links-wrapper.active { background-color: var(--white-000) }
nav.theme-dark,
nav.theme-dark ul.links-wrapper.active { background-color: var(--trans-000) }
nav.theme-dark,
nav.theme-dark ul.links-wrapper.active { background-color: var(--white-000) }
nav.theme-dark,
nav.theme-dark ul.links-wrapper.active { background-color: var(--black-000) }
nav.theme-dark.menu-sticky.menu-on-scroll .nav-toggle { background-color: var(--slate-400) }
nav.theme-dark.menu-sticky.menu-on-scroll,
nav.theme-dark.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--black-000) }
nav.theme-dark.menu-sticky.menu-on-scroll,
nav.theme-dark.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-image: var(--black-000) }
nav.theme-dark,
nav.theme-dark ul.links-wrapper.active { background-color: var(--trans-000) } 
img.logo-nav {
  width:180px;
  height:60px;
}